// This file is empty within the template
// You can use it to override CSS from within your project

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
